.inputBar {
    width: 90%;
}

  
/* return {
    margin-top: 10%;
}

#login-box {
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
 */
