#formHorizontalEmail.inputBar {
    width: 90%;
}

#formHorizontalPassword.inputBar{
    margin: 0px;
    width: 90%;
    border: 1px solid lightgray;
}

.EmailSection.form-group {
    padding-top: 80px;
}
  

return {
    margin-top: 10%;
}

form#login-box {
    width: 600px;
    height: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background: url('https://images.unsplash.com/photo-1485794251455-2eff55e47543?auto=format&fit=crop&w=667&q=80');
    color: white;
}
 
.form-group {
    text-align: center;
}

 @media(max-width: 842px) {
  
    .EmailSection.form-group {
        padding-top: 80px; 
    }   
    #login-box {
        padding-right: 10px;
    }
 }